@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-image: url("contactbackg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    margin-top: 400px;
    margin-left: 380px;
}

#h1{
    margin-left: 100px;
}

.buttons{
    margin-left: 690px;
    margin-top: 40px;
    font-size: large;
}

.btn2{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border-style: none;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    background-size: cover;
}

#contactimg
{
    margin-top: 100px;
    width: 400px;
    height: 300px;
    margin-left: 50px;
    border-radius: 30px;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    margin-left: 50px;
}

.contact .content p 
{
    font-weight: 300;
    color: #fff;
    margin-left: 50px;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 100px;
}

.container .contactInfo
{
    margin-top: -60px;
    width: 30%;
    display: flex;
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 16px;
    color: #00bcd4;
    flex-direction: column;
    font-weight: 300;
}

.contactForm
{
    text-align: center;
    width: 60%;
    padding: 40px;
    background: rgb(197, 194, 194);
    font-size: 30px;
    color: #333;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: -150px;
    height: 480px;
}

.contactForm h3
{
    font-weight: bold;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #333;
    resize: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea{
    width:100%;
    padding:5px;
    border: 2px solid black;
    border-radius: 7px;
}

.contactForm .inputBox input[type="submit"]
{
    width: 100%;
    background: #05444d;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}

#submit
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.contactForm .inputBox input[type="submit"]:hover{
    background-color:rgb(23, 114, 128);
}

@media(max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        max-width: 100%;
    }
}
